/* Page */

.app-page {}



/* Topbar */

.app-topbar {
	background-color: #2B9;
	-webkit-box-shadow:
		inset 0 -1px 0 #197,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #197,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	color: #F3F4F5;
}
.app-topbar.green {
	background-color: #3C7;
	-webkit-box-shadow:
		inset 0 -1px 0 #2A6,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #2A6,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
}
.app-topbar.yellow {
	background-color: #EC1;
	-webkit-box-shadow:
		inset 0 -1px 0 #E91,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #E91,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
}
.app-topbar.orange {
	background-color: #E82;
	-webkit-box-shadow:
		inset 0 -1px 0 #C50,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #C50,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
}
.app-topbar.red {
	background-color: #E54;
	-webkit-box-shadow:
		inset 0 -1px 0 #C43,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #C43,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
}
.app-topbar.blue {
	background-color: #3E85F1;
	-webkit-box-shadow:
		inset 0 -1px 0 #3571CD,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #3571CD,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
}
.app-topbar.dark-blue {
	background-color: #345;
	-webkit-box-shadow:
		inset 0 -1px 0 #234,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #234,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
}
.app-topbar.white {
	background-color: #FFF;
	-webkit-box-shadow:
		inset 0 -1px 0 #F5F5F5,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		inset 0 -1px 0 #F5F5F5,
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	color: #444;
}
.dark-page .app-topbar {
	background-color: rgba(0,0,0,0.8);
	-webkit-box-shadow:
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
	box-shadow:
		0 1px 0 rgba(0,0,0,0.1),
		0 1px 7px rgba(0,0,0,0.18);
}

.app-topbar .app-title {
	font-size: 18px;
	font-weight: 600;
}
.app-android .app-topbar .app-title {
	float: left;
	padding-left: 22px;
	padding-right: 8px;
	width: auto;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
}
.app-topbar .app-title .app-icon {
	display: none;
	float: left;
	margin: 10px 6px 10px -4px;
	height: 28px;
	width: 28px;
	background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAPj8/wAAACwAAAAAAQABAAACAkQBADs=);/*TODO*/
	-webkit-background-size: 100%;
	background-size: 100%;
}
.app-android .app-topbar .app-title .app-icon {
	display: block;
}
.app-topbar .app-button {
	padding: 0 10px;
	font-weight: 300;
}
.app-topbar .app-button.active {
	opacity: 0.65;
}
.app-android .app-topbar .app-button {
	font-weight: 400;
}
.app-android .app-topbar .app-button.active {
	opacity: 1;
	background-color: rgba(0,0,0,0.2);
}
.app-android .dark-page .app-topbar .app-button.active {
	background-color: rgba(0,0,0,1);
}
.app-topbar .app-button[data-back] {
	padding: 15px 0 15px 20px;
	height: 14px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAMAAABf788oAAAATlBMVEUAAADBwcHBwcHKysrOzs7Dw8PX19fi5OTFxcXW1tbPz8/R0dHT09PU1NTV1dXGxsbHx8fMzMzNzc3Y2NjZ2dnIyMjs7u/w9PbCwsLLy8tnOIf3AAAAA3RSTlMAM5mHzooOAAAAdklEQVR4XnWRSQ7FMAhD3Z+k8zz/+1+0CgssWQq7Z5kEA7y6J1dyDsaRhibzSd7NEJx/xh0Ngwmtc2s80DCZUDmvxhsNdeYaMtNCwXgkRwmRGKIgoGdL4VH89VscMhguHR0zw0n84oLw6goRZcnAnYWGzEPpKT8fNg40KCJRswAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 6px center;
	-webkit-background-size: 8px 14px;
	background-size: 8px 14px;
	line-height: 14px;
}
.app-topbar.white .app-button[data-back] {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAMAAABf788oAAAAQlBMVEUAAABPT09PT09fX19SUlJWVlZXV1dZWVlcXFxQUFBVVVVgYGBERERdXV1TU1M8PDxhYWFiYmJaWlpYWFhUVFReXl7J/HxRAAAAA3RSTlMAM5mHzooOAAAAc0lEQVR4XnWRSQ7FIAxD04ax4x/vf9UKL2LJEtk9y4BNLMaPMT04gysN2+A3+QtDDl7BTkODkIITuNHwh7AE/8CFhn3wbpLpogA+yVVKdJaYCPbhkcmlVvRZezHYJLo5y0l9/SBN56aFsnHuIWxkLkpX+QCqTAg113kiVgAAAABJRU5ErkJggg==);
}
.app-android .app-topbar .app-button[data-back] {
	padding-top: 17px;
	padding-bottom: 17px;
	width: 35%;
	color: transparent;
}
.app-android .app-topbar .app-button[data-back].active,
.app-android .dark-page .app-topbar .app-button[data-back].active {
	background-color: transparent;
}
.app-android .app-topbar .app-button[data-back].active ~ .app-title {
	background-color: rgba(0,0,0,0.2);
}
.app-android .dark-page .app-topbar .app-button[data-back].active ~ .app-title {
	background-color: rgba(0,0,0,1);
}

.app-topbar .app-menu {}
.app-android .app-topbar .app-menu {
	width: 32px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4AQMAAACSSKldAAAABlBMVEUAAADw9PY0rbmPAAAAAXRSTlMAQObYZgAAABdJREFUGJVjYMAAzP8P0JSmFIy6DwkAAEllP0nYiqwuAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 28px 28px;
	background-size: 28px 28px;
	color: transparent;
}

.app-android .app-topbar > :last-child:after {
	content: "";
	clear: both;
}



/* Content */

.app-page,
.app-content {
	background: #E8EAEf;
}
.dark-page.app-page,
.dark-page .app-content {
	background: #000;
}

.app-section,
.app-list > li,
.app-list > li.app-button,
.app-content .app-button,
.app-input {
	border: none;
}

.app-section {
	margin: 16px;
	padding: 8px;
	background: #FFF;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
p.app-section {
	padding: 12px 16px;
	color: #665;
}
.app-content .app-section > * {
	margin: 8px 0 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.app-content .app-section > :first-child {
	margin-top: 0;
}



/* Lists */

.app-list {}
.app-list > label {
	height: 28px;
	background-color: #D5E5E6;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #778;
	font-size: 14px;
	font-weight: 600;
	line-height: 28px;
}
.app-android .app-list > label {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}
.app-list > li {
	background-color: #FFF;
	color: #444;
}
.app-list > li,
.app-list > li.app-button {
	border-top: 1px solid rgba(0,0,0,0.05);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.app-android .app-list > li,
.app-android .app-list > li.app-button {
	padding-top: 0;
	padding-bottom: 0;
	height: 47px;
	line-height: 47px;
}
.app-list > li.app-button.active {
	border-top: 1px solid rgba(0,0,0,0.0);
}
.app-list > li:first-child,
.app-list > li.app-button:first-child,
.app-list > label + li,
.app-list > label + li.app-button,
.app-list > label + li.app-button.active,
.app-list > li.app-button.active + li,
.app-list > li.app-button.active + li.app-button {
	border-top-color: transparent;
}



/* Buttons */

.app-content .app-button {
	background-color: #FFF;
	color: #17B;
}
.app-content .app-button.active {
	background-color: #DDD;
}
.app-content .app-button.green {
	background-color: #3C7;
	color: #F3F4F5;
}
.app-content .app-button.green.active {
	background-color: #2A6;
}
.app-content .app-button.yellow {
	background-color: #EC1;
	color: #F3F4F5;
}
.app-content .app-button.yellow.active {
	background-color: #E91;
}
.app-content .app-button.orange {
	background-color: #E82;
	color: #F3F4F5;
}
.app-content .app-button.orange.active {
	background-color: #C50;
}
.app-content .app-button.red {
	background-color: #E54;
	color: #F3F4F5;
}
.app-content .app-button.red.active {
	background-color: #C43;
}
.app-content .app-button.blue {
	background-color: #39D;
	color: #F3F4F5;
}
.app-content .app-button.blue.active {
	background-color: #27A;
}
.app-content .app-button.dark-blue {
	background-color: #345;
	color: #F3F4F5;
}
.app-content .app-button.dark-blue.active {
	background-color: #234;
}



/* Inputs */
input.app-input {
	height: 44px;
	background: #FFF;
	line-height: 24px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.app-android input.app-input {
	height: 48px;
	line-height: 28px;
}
.app-section input.app-input {
	border-bottom: none;
}
.app-android .app-section input.app-input {
	height: 40px;
	line-height: 20px;
}
.app-input[type="search"] {
	padding-left: 34px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACjElEQVR42r3Wz2sTQRjG8e2maW1rTYIoaPEgHqz/gD+KFi8VRb0pVPTi2UPNQRRCEHpQkCKIp0ilQg/BVqQKUi8q1lRzERQ0x3pQVKJIxTaxpql+DzkMD+xkNo1d+NBudt5535md3VnPdmQyGfP/FrSjC+trOhDxmnxo4k70I4lxzOA18riPYRzFFolvSvJBPMU8/los4w3S8JtRRCfGUZJEK3KuKiigV4pwHzl/43gYkLSKMhZRQsVsZ7T9jN1ShFPyCCahHVbwEiM4gyM4gRQe4Tu04DnskCLqFjACTf4Vg4gHxPo4gCfQ2HyY0e/BvIziIzY7LtgIpqC37YLrLIxJ8AK2SbBLIW+ln29ordfBdryXFZ2Eh7CLuBdVo4gyTmuhGjyA30byOexq5B2CKLIyC7fqBZ6V0U8jagkJ299jtHmWVXxJAsZq1xot4DD+GP3NYqOtgJQUkFllAQMoG/3l9WnSXS4p9yy7ys3suAzoOWK2gJMS8AKJBpP7uCj9PagXtBdFI+AH+mvXwhbQjbzslFfqPYYJ5OQ23IEPD2HeA6dkXyihz6WDFJblNTpkPN+BiWHO5E8ZyCvXytfhiwRXkZa2Qf0cRBG6F+yXWGsRhwL292nsRBei8NGKDmzCZePbQL1DPMw9TGJFR1IzgxtI4yqm8Av6LaDnOfSEmYlzWNKZCKJtAtrnEJcirNvqPnwK6tTyyfbM+F2vF9DmOhPmLfmABSzJVlvBIooYRQIeJiyFFlzXhJ73YQjXMYqbSOEYuqXtBtyTxLomtjrv8a7taswiJiy3bxYxr8mHLmYfWcua6JHQ5hcCP2BN3Eb7/8yva2LSSH4XsbVKbm5413AeCePamhYRRYv52z/AKK4/BRObOQAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 12px center;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
}
.app-input[type="search"].no-icon {
	padding-left: 12px;
	background-image: none;
}
