/* Topbar */

.app-topbar {
	background: #222;
	color: #DDD;
	font-weight: bold;
}
.app-android .app-topbar {
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5),
		inset 0 1px 0 #2B2B2B,
		inset 0 -2px 0 #1B1B1B;
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5),
		inset 0 1px 0 #2B2B2B,
		inset 0 -2px 0 #1B1B1B;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),
		inset 0 1px 0 #2B2B2B,
		inset 0 -2px 0 #1B1B1B;
}
.app-ios .app-topbar {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#1F1E1F));
	background-image: -webkit-linear-gradient(#525252, #1F1E1F);
	background-image: -moz-linear-gradient(#525252, #1F1E1F);
	background-image: -ms-linear-gradient(#525252, #1F1E1F);
	background-image: -o-linear-gradient(#525252, #1F1E1F);
	background-image: linear-gradient(#525252, #1F1E1F);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5),
		inset 0 1px 0 #797979,
		inset 0 -1px 0 #333;
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5),
		inset 0 1px 0 #797979,
		inset 0 -1px 0 #333;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),
		inset 0 1px 0 #797979,
		inset 0 -1px 0 #333;
	color: #EEE;
	text-shadow: 0px -1px 0 #1D1E1E;
}

.app-title {
	font-size: 20px;
}
.app-android .app-title {
	float: left;
	padding: 0 12px 0 24px;
	width: auto;
	text-align: left;
}
.app-android .app-topbar .app-button[data-back].active ~ .app-title {
	background: #3C3C3C;
}

.app-topbar .app-button.active {
	background: #3C3C3C;
}
.app-android .app-topbar .app-button {
	padding: 0 16px;
}
.app-android .app-topbar .app-button[data-back] {
	padding: 0;
	height: 100%;
	width: 33%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAMAAABf788oAAAAjVBMVEUiIiIjIyMrKysqKioAAACdnZ0mJiYnJyednZ0kJCQoKCgsLCwlJSXLy8vPz8/MzMzJycnNzc3Ozs7GxsagoKCjo6O3t7exsbHIyMisrKzAwMDExMS+vr6ysrLHx8fKysq0tLStra27u7urq6unp6fBwcGoqKjDw8Ourq66urq9vb2fn5/FxcWwsLClpaWY7qkYAAAADXRSTlMAAAAAADMAAJkAAAAAOhxptwAAAMVJREFUeF5d0dVuBTEMBNCZvUWY0OLFMsP/f15lxWqb5i1HijO2cYR6zndKKfWDA7EuksIeFcjVNkv5uaMDPoOkco8KxNkhSmVHwmEKkjSiAjFeW8UJhMNdkOLh2IF4yFbxBYQBebopUtmcsIJnil8gYIBVn6XwCsJhDlJOww8Mi2Xa290hGcy/gJt/T9D1sSlK3IbmW/LisQkG4qmJDhBvxZtzwKim/WZADu9LM0LQGpLKGnRg92Fr2F7y76KiL6qeK1/lN9FpDuyoOMUMAAAAAElFTkSuQmCC);
	background-position: 8px center;
	background-repeat: no-repeat;
	-webkit-background-size: 8px 14px;
	background-size: 8px 14px;
	color: transparent;
}
.app-android .app-topbar .app-button[data-back].active {
	background-color: transparent;
}
.app-ios .app-topbar .app-button {
	margin: 7px 5px;
	padding: 0 10px;
	height: 28px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#1B1B1B));
	background-image: -webkit-linear-gradient(top, #585858, #1B1B1B);
	background-image: -moz-linear-gradient(top, #585858, #1B1B1B);
	background-image: -ms-linear-gradient(top, #585858, #1B1B1B);
	background-image: -o-linear-gradient(top, #585858, #1B1B1B);
	background-image: linear-gradient(top, #585858, #1B1B1B);
	border: 1px solid #201F20;
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.1),
		inset 0 0 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 1px rgba(255,255,255,0.1),
		inset 0 0 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px rgba(255,255,255,0.1),
		inset 0 0 2px rgba(0,0,0,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 14px;
	line-height: 28px;
}
.app-ios .app-topbar .app-button.active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2F2F2F), to(#0D0D0D));
	background-image: -webkit-linear-gradient(top, #2F2F2F, #0D0D0D);
	background-image: -moz-linear-gradient(top, #2F2F2F, #0D0D0D);
	background-image: -ms-linear-gradient(top, #2F2F2F, #0D0D0D);
	background-image: -o-linear-gradient(top, #2F2F2F, #0D0D0D);
	background-image: linear-gradient(top, #2F2F2F, #0D0D0D);
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.1),
		inset 0 0 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 1px rgba(255,255,255,0.1),
		inset 0 0 3px rgba(0,0,0,0.4);
	box-shadow: 0 1px 1px rgba(255,255,255,0.1),
		inset 0 0 3px rgba(0,0,0,0.4);
	color: #C8C8C8;
}



/* Content */

.app-page, .app-content {
	background: #EEE;
	color: #696969;
}

.app-section,
.app-list > li,
.app-list > li.app-button,
.app-content .app-button,
.app-input {
	border-color: #EEE;
}

.app-section {
	background: #FFF;
	border: none;
	border-bottom: 1px solid #DDD;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}
p.app-section {
	padding: 10px 12px;
}
.app-section > :first-child {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.app-section > :last-child {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.app-section > :only-child {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



/* Lists */

.app-list {
	background: #FFF;
}
.app-list > li {
	font-weight: bold;
}
.app-android .app-list > *,
.app-android .app-list > .app-button {
	padding-left: 8px;
	margin: 0 18px;
}
.app-android .app-list > label {
	padding-top: 12px;
	background: none;
	border-bottom: 2px solid #CCC;
	-webkit-box-shadow: 0 -1px 0 #FFF;
	color: inherit;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.app-ios .app-list > label {
	height: 23px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E3E5EB), to(#EFF1F4));
	background-image: -webkit-linear-gradient(top, #E3E5EB, #EFF1F4);
	background-image: -moz-linear-gradient(top, #E3E5EB, #EFF1F4);
	background-image: -ms-linear-gradient(top, #E3E5EB, #EFF1F4);
	background-image: -o-linear-gradient(top, #E3E5EB, #EFF1F4);
	background-image: linear-gradient(top, #E3E5EB, #EFF1F4);
	border-top: 1px solid #D1D4D8;
	border-bottom: 1px solid #CFD2DA;
	color: #8C8C8C;
	font-size: 14px;
	font-weight: bold;
	line-height: 23px;
	text-shadow: 0px 1px 0 #FFF;
}



/* Buttons */

.app-content .app-button.active {
	background: #F7F7F7;
	color: #09C;
}
.app-ios .app-content .app-button.active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#058CF5), to(#015EE6));
	background-image: -webkit-linear-gradient(top, #058CF5, #015EE6);
	background-image: -moz-linear-gradient(top, #058CF5, #015EE6);
	background-image: -ms-linear-gradient(top, #058CF5, #015EE6);
	background-image: -o-linear-gradient(top, #058CF5, #015EE6);
	background-image: linear-gradient(top, #058CF5, #015EE6);
	color: #FFF;
}
.app-button {
	font-weight: bold;
}
.app-button.red,
.app-button.green,
.app-button.blue {
	color: #FFF;
}
.app-button.red.active,
.app-button.green.active,
.app-button.blue.active {
	color: #EEE;
}
.app-content .app-button.red {
	background-color: #F0293A;
}
.app-content .app-button.red.active {
	background-color: #D0091A;
}
.app-content .app-button.green {
	background-color: #5CCC5C;
}
.app-content .app-button.green.active {
	background-color: #3CAC3C;
}
.app-content .app-button.blue {
	background-color: #1C7DE6;
}
.app-content .app-button.blue.active {
	background-color: #005DC6;
}
.app-ios .app-button.red,
.app-ios .app-button.green,
.app-ios .app-button.blue {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.app-ios .app-content .app-button.red {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF2035), to(#E13443));
	background-image: -webkit-linear-gradient(top, #FF2035, #E13443);
	background-image: -moz-linear-gradient(top, #FF2035, #E13443);
	background-image: -ms-linear-gradient(top, #FF2035, #E13443);
	background-image: -o-linear-gradient(top, #FF2035, #E13443);
	background-image: linear-gradient(top, #FF2035, #E13443);
}
.app-ios .app-content .app-button.green {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7D7), to(#4B4));
	background-image: -webkit-linear-gradient(top, #7D7, #4B4);
	background-image: -moz-linear-gradient(top, #7D7, #4B4);
	background-image: -ms-linear-gradient(top, #7D7, #4B4);
	background-image: -o-linear-gradient(top, #7D7, #4B4);
	background-image: linear-gradient(top, #7D7, #4B4);
}
.app-ios .app-content .app-button.blue {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2A8CF8), to(#0F6FD5));
	background-image: -webkit-linear-gradient(top, #2A8CF8, #0F6FD5);
	background-image: -moz-linear-gradient(top, #2A8CF8, #0F6FD5);
	background-image: -ms-linear-gradient(top, #2A8CF8, #0F6FD5);
	background-image: -o-linear-gradient(top, #2A8CF8, #0F6FD5);
	background-image: linear-gradient(top, #2A8CF8, #0F6FD5);
}
.app-ios .app-button.red.active,
.app-ios .app-button.green.active,
.app-ios .app-button.blue.active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
	color: #DDD;
}
