.app-topbar {
    background: -webkit-linear-gradient(#f8f8f8, #c4c4c4);
    border-bottom: 1px solid #898989;
    color: #000;
    font-weight: bold;
    text-shadow: 0px 1px 1px #e1e1e1;
}

.app-section {
    border-radius: 4px;
    border: none;
    overflow: hidden;
}

.app-button {
    color: #FFF;
    font-weight: bold;
}

.app-section > .app-button:only-child {
    border-radius: 4px;
}
.app-button.red {
    background: -webkit-linear-gradient(#e30015, #b10413);
    text-shadow: 0px -1px 1px #c80314;
    border: 1px solid #771218;
}

.app-button.green {
    background: -webkit-linear-gradient(#89c447, #6f9e3a);
    border: 1px solid #649134;
}

.app-button.blue {
    background: -webkit-linear-gradient(#1a7ce8, #1f5fb5);
    border: 1px solid #1c55a2;
}
