@import url("icon-light.css");

/* Page */
.app-page, .app-content {
	background: #EEE;
	color: #696969;
}

/* Topbar */
.app-topbar {
	background: #222;
	color: #c8c8c8;
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.app-title {
	font-size: 20px;
}
.app-topbar .app-button.active {
	background: #3c3c3c;
	color: #CCC;
}

/* Lists */
.app-section,
.app-list {
	background: #fff;
	border: none;
}
.app-section {
	overflow: hidden;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #DDD;
}
.app-section > .app-button:only-child {
	border-radius: 3px;
}
.app-section .active,
.app-list .active {
	background: #F7F7F7;
	color: #0099cc;
}
.app-content .app-list > li,
.app-content .app-section > * {
	border-color: #EEE;
}
.app-list > li {
	font-weight: bold;
}

/* Buttons */
.app-button {
	font-weight: bold;
}
.app-button.red,
.app-button.green,
.app-button.blue {
	color: #FFF;
}
.app-button.red {
	background: #ca0214;
}
.app-button.red.active {
	background: #93000d;
}
.app-button.green {
	background: #79ad3f;
}
.app-button.green.active {
	background: #428238;
}
.app-button.blue {
	background: #1c6ccb;
}
.app-button.blue.active {
	background: #1352a3;
}


/**************
 * iOS Styles *
 **************/
.app-ios .app-topbar {
	background: -webkit-linear-gradient(#525252, #1f1e1f);
	border-top: 0.5px solid #797979;
	border-bottom: 1px solid #000;
	/*color: #c8c8c8;
	font-weight: bold;*/
	text-shadow: 0px -1px 1px #1d1e1e;
}
.app-ios .app-list > label {
	background: -webkit-linear-gradient(#95a4ae, #98a3aa);
	border-top: 1px solid #81929f;
	border-bottom: 1px solid #949ea6;
	text-shadow: 0px 1px 1px #666b6f;
}
.app-ios .app-button.red {
	background: -webkit-linear-gradient(#e30015, #b10413);
	text-shadow: 0px -1px 1px #c80314;
	border: 1px solid #771218;
}
.app-ios .app-button.red.active {
	background: -webkit-linear-gradient(#b10413, #e30015);
}
.app-ios .app-button.green {
	background: -webkit-linear-gradient(#89c447, #6f9e3a);
	border: 1px solid #649134;
}
.app-ios .app-button.green.active {
	background: -webkit-linear-gradient(#6f9e3a, #89c447);
}
.app-ios .app-button.blue {
	background: -webkit-linear-gradient(#1a7ce8, #1f5fb5);
	border: 1px solid #1c55a2;
}
.app-ios .app-button.blue.active {
	background: -webkit-linear-gradient(#1f5fb5, #1a7ce8);
}
.app-ios .app-section .active,
.app-ios .app-list .active {
	background: -webkit-linear-gradient(#058cf5, #015ee6);
	color: #fff;
}

/******************
 * Android Styles *
 ******************/
.app-android .app-list > label {
	background: none;
	color: inherit;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 8px;
	padding-top: 12px;
	border-bottom: 2px solid #CCC;
	margin: 0 18px;
}
.app-android .app-list > li,
.app-android .app-list > li.app-button {
	margin: 0 18px;
	padding-left: 8px;
}
